In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import copy
warnings.filterwarnings('ignore')

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
documents = pd.read_csv('/content/drive/My Drive/datasets/words_less_than_100.csv')
dictionary = pd.read_csv('/content/drive/My Drive/datasets/dict_before_spacy.csv')
idf_all_words = pd.read_csv('/content/drive/My Drive/datasets/idf_of_all_words_fixed.csv')

In [4]:
documents = documents.drop("Unnamed: 0", 1)

In [5]:
dictionary = dictionary.drop("Unnamed: 0", 1)

In [6]:
idf_all_words = idf_all_words.drop("wordID", 1)

In [7]:
documents

,18,19,20,34,38,39,43,45,47,51,...,46409,46894,47583,48025,48093,48269,49029,49248,49393,49524
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7496,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7498,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [9]:
documents["sum"] = documents.sum(axis=1)

In [10]:
documents

,18,19,20,34,38,39,43,45,47,51,...,46894,47583,48025,48093,48269,49029,49248,49393,49524,sum
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,88.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,90.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
7496,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0
7497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,48.0
7498,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
7499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,57.0

In [11]:
idf_all_words

       df       idf
0      94  4.379364
1     660  2.430418
2     934  2.083182
3     272  3.316856
4     244  3.425490
...   ...       ...
4442  131  4.047461
4443   54  4.933674
4444   91  4.411799
4445   50  5.010635
4446  138  3.995405

[4447 rows x 2 columns]

In [12]:
tf_pog = documents.drop('sum', 1)

In [13]:
tf_pog = tf_pog.div(tf_pog.sum(axis=1), axis=0)

In [14]:
tf_pog

,18,19,20,34,38,39,43,45,47,51,...,46409,46894,47583,48025,48093,48269,49029,49248,49393,49524
0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
1,0.0,0.0,0.011364,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
2,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
7496,0.0,0.0,0.031250,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
7497,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.020833,0.0,0.0,0.0,0.000000
7498,0.0,0.0,0.000000,0.0,0.0,0.025641,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
7499,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.017544,0.0,0.0,0.0,0.017544

In [15]:
idf_all_words

       df       idf
0      94  4.379364
1     660  2.430418
2     934  2.083182
3     272  3.316856
4     244  3.425490
...   ...       ...
4442  131  4.047461
4443   54  4.933674
4444   91  4.411799
4445   50  5.010635
4446  138  3.995405

[4447 rows x 2 columns]

In [16]:
lista_kolumn = tf_pog.columns.values.tolist()

In [18]:
lista_kolumn

['18',
 '19',
 '20',
 '34',
 '38',
 '39',
 '43',
 '45',
 '47',
 '51',
 '58',
 '66',
 '70',
 '71',
 '72',
 '74',
 '76',
 '96',
 '101',
 '103',
 '107',
 '108',
 '115',
 '117',
 '118',
 '119',
 '120',
 '123',
 '129',
 '130',
 '132',
 '133',
 '134',
 '137',
 '138',
 '139',
 '142',
 '145',
 '149',
 '153',
 '159',
 '162',
 '163',
 '165',
 '167',
 '168',
 '172',
 '173',
 '174',
 '176',
 '177',
 '185',
 '187',
 '188',
 '190',
 '191',
 '193',
 '199',
 '200',
 '201',
 '202',
 '203',
 '204',
 '206',
 '207',
 '210',
 '216',
 '222',
 '227',
 '228',
 '229',
 '230',
 '231',
 '233',
 '237',
 '247',
 '254',
 '255',
 '261',
 '262',
 '263',
 '266',
 '268',
 '270',
 '283',
 '284',
 '289',
 '311',
 '312',
 '313',
 '347',
 '350',
 '353',
 '355',
 '356',
 '357',
 '359',
 '370',
 '376',
 '379',
 '381',
 '383',
 '390',
 '391',
 '395',
 '398',
 '403',
 '408',
 '412',
 '431',
 '432',
 '444',
 '464',
 '470',
 '473',
 '487',
 '495',
 '501',
 '507',
 '508',
 '525',
 '534',
 '536',
 '541',
 '543',
 '569',
 '580',
 '583',
 '585',
 '600',
 '607',
 '617',
 '619',
 '620',
 '622',
 '623',
 '625',
 '627',
 '628',
 '629',
 '630',
 '633',
 '643',
 '644',
 '649',
 '661',
 '662',
 '667',
 '672',
 '680',
 '681',
 '687',
 '695',
 '705',
 '724',
 '746',
 '747',
 '748',
 '751',
 '753',
 '758',
 '769',
 '771',
 '772',
 '773',
 '774',
 '775',
 '790',
 '792',
 '795',
 '796',
 '798',
 '802',
 '803',
 '804',
 '805',
 '806',
 '808',
 '818',
 '819',
 '822',
 '830',
 '838',
 '839',
 '846',
 '847',
 '850',
 '854',
 '856',
 '858',
 '865',
 '867',
 '872',
 '873',
 '882',
 '883',
 '885',
 '886',
 '888',
 '889',
 '890',
 '895',
 '900',
 '904',
 '908',
 '909',
 '912',
 '916',
 '919',
 '933',
 '934',
 '935',
 '939',
 '950',
 '957',
 '961',
 '962',
 '964',
 '965',
 '967',
 '971',
 '972',
 '976',
 '977',
 '978',
 '982',
 '983',
 '984',
 '985',
 '986',
 '1017',
 '1032',
 '1035',
 '1041',
 '1042',
 '1044',
 '1047',
 '1051',
 '1058',
 '1063',
 '1064',
 '1066',
 '1068',
 '1069',
 '1070',
 '1079',
 '1081',
 '1086',
 '1088',
 '1095',
 '1096',
 '1102',
 '1105',
 '1106',
 '1111',
 '1116',
 '1117',
 '1118',
 '1139',
 '1140',
 '1141',
 '1142',
 '1155',
 '1157',
 '1158',
 '1163',
 '1166',
 '1179',
 '1186',
 '1198',
 '1205',
 '1206',
 '1210',
 '1211',
 '1218',
 '1229',
 '1236',
 '1238',
 '1240',
 '1246',
 '1247',
 '1254',
 '1266',
 '1270',
 '1275',
 '1286',
 '1305',
 '1313',
 '1315',
 '1323',
 '1326',
 '1327',
 '1328',
 '1329',
 '1334',
 '1338',
 '1339',
 '1340',
 '1342',
 '1345',
 '1350',
 '1362',
 '1365',
 '1369',
 '1395',
 '1402',
 '1412',
 '1415',
 '1426',
 '1429',
 '1431',
 '1432',
 '1433',
 '1437',
 '1438',
 '1439',
 '1455',
 '1456',
 '1457',
 '1459',
 '1461',
 '1469',
 '1471',
 '1481',
 '1489',
 '1502',
 '1503',
 '1535',
 '1536',
 '1537',
 '1543',
 '1552',
 '1554',
 '1555',
 '1563',
 '1568',
 '1573',
 '1576',
 '1583',
 '1585',
 '1594',
 '1596',
 '1599',
 '1600',
 '1611',
 '1620',
 '1634',
 '1655',
 '1669',
 '1675',
 '1686',
 '1700',
 '1704',
 '1710',
 '1711',
 '1716',
 '1718',
 '1730',
 '1746',
 '1748',
 '1757',
 '1771',
 '1774',
 '1781',
 '1788',
 '1798',
 '1808',
 '1811',
 '1818',
 '1819',
 '1820',
 '1829',
 '1832',
 '1835',
 '1838',
 '1840',
 '1857',
 '1862',
 '1863',
 '1864',
 '1885',
 '1891',
 '1920',
 '1927',
 '1929',
 '1937',
 '1938',
 '1944',
 '1947',
 '1951',
 '1967',
 '1968',
 '1969',
 '1982',
 '1984',
 '1986',
 '2030',
 '2037',
 '2041',
 '2043',
 '2045',
 '2062',
 '2100',
 '2105',
 '2107',
 '2113',
 '2116',
 '2127',
 '2135',
 '2137',
 '2162',
 '2179',
 '2182',
 '2183',
 '2185',
 '2186',
 '2187',
 '2196',
 '2206',
 '2209',
 '2216',
 '2217',
 '2220',
 '2225',
 '2226',
 '2235',
 '2238',
 '2246',
 '2249',
 '2250',
 '2269',
 '2270',
 '2271',
 '2272',
 '2274',
 '2277',
 '2294',
 '2295',
 '2296',
 '2298',
 '2301',
 '2302',
 '2309',
 '2311',
 '2313',
 '2314',
 '2323',
 '2330',
 '2344',
 '2345',
 '2350',
 '2351',
 '2354',
 '2368',
 '2369',
 '2370',
 '2372',
 '2385',
 '2395',
 '2401',
 '2407',
 '2410',
 '2420',
 '2422',
 '2423',
 '2455',
 '2459',
 '2461',
 '2471',
 '2472',
 '2473',
 '2476',
 '2484',
 '2495',
 '2496',
 '2509',
 '2510',
 '2512',
 '2517',
 '2519',
 '2521',
 '2528',
 '2530',
 '2532',
 '2535',
 '2536',
 '2539',
 '2540',
 '2544',
 '2545',
 '2549',
 '2550',
 '2551',
 '2552',
 '2553',
 '2554',
 '2559',
 '2560',
 '2562',
 '2574',
 '2598',
 '2617',
 '2621',
 '2622',
 '2628',
 '2634',
 '2639',
 '2641',
 '2644',
 '2657',
 '2658',
 '2663',
 '2664',
 '2669',
 '2670',
 '2671',
 '2672',
 '2681',
 '2682',
 '2684',
 '2694',
 '2714',
 '2729',
 '2730',
 '2732',
 '2733',
 '2734',
 '2740',
 '2752',
 '2754',
 '2757',
 '2761',
 '2765',
 '2766',
 '2781',
 '2785',
 '2786',
 '2787',
 '2788',
 '2789',
 '2790',
 '2791',
 '2796',
 '2801',
 '2808',
 '2816',
 '2823',
 '2828',
 '2836',
 '2841',
 '2843',
 '2848',
 '2854',
 '2855',
 '2857',
 '2859',
 '2861',
 '2863',
 '2873',
 '2878',
 '2886',
 '2890',
 '2892',
 '2893',
 '2895',
 '2913',
 '2916',
 '2917',
 '2918',
 '2926',
 '2928',
 '2929',
 '2936',
 '2946',
 '2948',
 '2957',
 '2964',
 '2966',
 '2969',
 '2970',
 '2974',
 '2988',
 '2989',
 '2999',
 '3002',
 '3005',
 '3006',
 '3007',
 '3008',
 '3009',
 '3019',
 '3026',
 '3028',
 '3039',
 '3047',
 '3051',
 '3056',
 '3057',
 '3058',
 '3063',
 '3064',
 '3071',
 '3073',
 '3075',
 '3078',
 '3079',
 '3080',
 '3082',
 '3083',
 '3084',
 '3085',
 '3087',
 '3088',
 '3089',
 '3090',
 '3091',
 '3100',
 '3103',
 '3105',
 '3111',
 '3112',
 '3113',
 '3125',
 '3128',
 '3129',
 '3130',
 '3134',
 '3135',
 '3138',
 '3142',
 '3151',
 '3152',
 '3154',
 '3155',
 '3156',
 '3161',
 '3164',
 '3176',
 '3177',
 '3178',
 '3179',
 '3181',
 '3184',
 '3193',
 '3194',
 '3197',
 '3198',
 '3202',
 '3203',
 '3204',
 '3205',
 '3211',
 '3212',
 '3215',
 '3230',
 '3231',
 '3232',
 '3234',
 '3241',
 '3242',
 '3246',
 '3249',
 '3252',
 '3259',
 '3260',
 '3265',
 '3270',
 '3271',
 '3272',
 '3274',
 '3287',
 '3297',
 '3298',
 '3301',
 '3303',
 '3304',
 '3306',
 '3307',
 '3308',
 '3321',
 '3322',
 '3324',
 '3325',
 '3330',
 '3335',
 '3336',
 '3337',
 '3338',
 '3339',
 '3340',
 '3342',
 '3343',
 '3344',
 '3345',
 '3346',
 '3347',
 '3362',
 '3367',
 '3368',
 '3374',
 '3375',
 '3376',
 '3377',
 '3378',
 '3379',
 '3380',
 '3381',
 '3386',
 '3393',
 '3404',
 '3421',
 '3426',
 '3429',
 '3440',
 '3441',
 '3442',
 '3443',
 '3445',
 '3446',
 '3447',
 '3450',
 '3459',
 '3462',
 '3463',
 '3466',
 '3469',
 '3470',
 '3471',
 '3472',
 '3481',
 '3482',
 '3485',
 '3486',
 '3487',
 '3488',
 '3489',
 '3492',
 '3495',
 '3496',
 '3497',
 '3519',
 '3526',
 '3531',
 '3535',
 '3537',
 '3546',
 '3549',
 '3558',
 '3566',
 '3572',
 '3573',
 '3575',
 '3576',
 '3578',
 '3579',
 '3580',
 '3581',
 '3583',
 '3586',
 '3587',
 '3588',
 '3589',
 '3594',
 '3595',
 '3597',
 '3601',
 '3614',
 '3620',
 '3623',
 '3628',
 '3635',
 '3637',
 '3638',
 '3640',
 '3642',
 '3643',
 '3649',
 '3652',
 '3663',
 '3664',
 '3666',
 '3667',
 '3671',
 '3684',
 '3714',
 '3715',
 '3716',
 '3717',
 '3718',
 '3727',
 '3741',
 '3746',
 '3747',
 '3748',
 '3753',
 '3755',
 '3756',
 '3757',
 '3758',
 '3760',
 '3771',
 '3775',
 '3776',
 '3780',
 '3789',
 '3791',
 '3829',
 '3840',
 '3842',
 '3847',
 '3848',
 '3860',
 '3872',
 '3873',
 '3879',
 '3885',
 '3892',
 '3896',
 '3897',
 '3914',
 '3924',
 '3942',
 '3952',
 '3967',
 '3972',
 '3973',
 '3974',
 '3977',
 '3982',
 '3985',
 '3990',
 '3992',
 '4009',
 '4010',
 '4016',
 '4019',
 '4021',
 '4027',
 '4029',
 '4039',
 '4043',
 '4044',
 '4045',
 '4048',
 '4054',
 '4055',
 '4062',
 '4075',
 '4076',
 '4087',
 '4088',
 '4089',
 '4090',
 '4105',
 '4115',
 '4118',
 '4130',
 '4132',
 '4145',
 '4147',
 '4148',
 '4149',
 '4150',
 '4151',
 '4153',
 '4163',
 '4165',
 '4166',
 '4171',
 '4172',
 '4197',
 '4201',
 '4204',
 '4207',
 '4210',
 '4211',
 '4219',
 '4220',
 '4221',
 '4225',
 '4226',
 '4227',
 '4229',
 '4233',
 '4246',
 '4248',
 '4259',
 '4264',
 '4267',
 '4268',
 '4269',
 '4270',
 '4271',
 '4272',
 '4292',
 '4296',
 '4297',
 '4299',
 '4300',
 '4310',
 '4311',
 '4312',
 '4313',
 '4314',
 '4323',
 '4324',
 '4325',
 '4326',
 '4327',
 '4334',
 '4336',
 '4338',
 '4340',
 '4341',
 '4342',
 '4343',
 '4346',
 '4353',
 '4363',
 '4367',
 '4368',
 '4372',
 '4373',
 '4374',
 '4376',
 '4384',
 '4385',
 '4386',
 '4387',
 '4388',
 '4403',
 '4404',
 '4406',
 '4407',
 '4410',
 '4411',
 '4412',
 '4430',
 '4431',
 '4432',
 '4437',
 '4439',
 '4453',
 '4455',
 '4456',
 '4460',
 '4463',
 '4465',
 '4466',
 '4467',
 '4472',
 '4473',
 '4474',
 '4475',
 '4480',
 '4481',
 '4494',
 '4507',
 '4518',
 '4519',
 '4521',
 '4522',
 '4525',
 '4526',
 '4532',
 '4560',
 '4587',
 '4588',
 '4595',
 '4596',
 '4599',
 '4605',
 '4612',
 '4615',
 '4616',
 '4619',
 '4621',
 '4651',
 '4653',
 '4666',
 '4667',
 '4668',
 '4701',
 '4702',
 '4703',
 '4705',
 '4706',
 '4709',
 '4715',
 '4721',
 '4725',
 '4735',
 '4737',
 '4749',
 '4750',
 '4753',
 '4756',
 '4768',
 '4774',
 '4778',
 ...]

In [53]:
lista_kolumn.to_csv("lista_id_slow.csv")

AttributeError: ignored

In [17]:
essunia = idf_all_words.iloc[lista_kolumn]

IndexError: ignored

In [23]:
essunia = essunia.drop("df", 1)

In [33]:
essunia

            idf
18     4.379364
19     2.430418
20     2.083182
34     3.316856
38     3.425490
...         ...
48269  4.047461
49029  4.933674
49248  4.411799
49393  5.010635
49524  3.995405

[4447 rows x 1 columns]

In [54]:
essunia.to_csv("indeksy_pod_idf.csv")

In [23]:
idf_all_words = idf_all_words.drop('df', 1)

In [24]:
idfs = idf_all_words.values.tolist()

In [26]:
len(idfs)

4447

In [20]:
len(idfs)

4447

In [ ]:
#    tf_pog          idfs

In [29]:
tf_pog

,18,19,20,34,38,39,43,45,47,51,...,46409,46894,47583,48025,48093,48269,49029,49248,49393,49524
0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
1,0.0,0.0,0.011364,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
2,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
7496,0.0,0.0,0.031250,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
7497,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.020833,0.0,0.0,0.0,0.000000
7498,0.0,0.0,0.000000,0.0,0.0,0.025641,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
7499,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.017544,0.0,0.0,0.0,0.017544

In [46]:
floats = [float(x[0]) for x in idfs]

In [47]:
final_ez = tf_pog.iloc[:,:] = tf_pog.iloc[:,:]*floats

In [48]:
final_ez

,18,19,20,34,38,39,43,45,47,51,...,46409,46894,47583,48025,48093,48269,49029,49248,49393,49524
0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
1,0.0,0.0,0.023673,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
2,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
7496,0.0,0.0,0.065099,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
7497,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.084322,0.0,0.0,0.0,0.000000
7498,0.0,0.0,0.000000,0.0,0.0,0.108731,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
7499,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.071008,0.0,0.0,0.0,0.070095

In [49]:
final_ez.to_csv('complete_tf_idf.csv')