In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import copy
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_csv('/content/drive/My Drive/WUM_PROJEKT2/complete_tf_idf.csv')
dictionary = pd.read_csv('/content/drive/My Drive/WUM_PROJEKT2/dictionary.csv')
dictionary = dictionary.drop("Unnamed: 0", 1)
data = data.drop("Unnamed: 0", 1)

In [ ]:
data

,18,19,20,34,38,39,43,45,47,51,...,46409,46894,47583,48025,48093,48269,49029,49248,49393,49524
0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
1,0.0,0.0,0.023673,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
2,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
7496,0.0,0.0,0.065099,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
7497,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.084322,0.0,0.0,0.0,0.000000
7498,0.0,0.0,0.000000,0.0,0.0,0.108731,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
7499,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.071008,0.0,0.0,0.0,0.070095

In [ ]:
data_fixed = data.drop(data.index[5223])

In [ ]:
data_fixed

,18,19,20,34,38,39,43,45,47,51,...,46409,46894,47583,48025,48093,48269,49029,49248,49393,49524
0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
1,0.0,0.0,0.023673,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
2,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
7496,0.0,0.0,0.065099,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
7497,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.084322,0.0,0.0,0.0,0.000000
7498,0.0,0.0,0.000000,0.0,0.0,0.108731,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
7499,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.071008,0.0,0.0,0.0,0.070095

In [ ]:
df1 = data_fixed[data_fixed.isna().any(axis=1)]
df1

Empty DataFrame
Columns: [18, 19, 20, 34, 38, 39, 43, 45, 47, 51, 58, 66, 70, 71, 72, 74, 76, 96, 101, 103, 107, 108, 115, 117, 118, 119, 120, 123, 129, 130, 132, 133, 134, 137, 138, 139, 142, 145, 149, 153, 159, 162, 163, 165, 167, 168, 172, 173, 174, 176, 177, 185, 187, 188, 190, 191, 193, 199, 200, 201, 202, 203, 204, 206, 207, 210, 216, 222, 227, 228, 229, 230, 231, 233, 237, 247, 254, 255, 261, 262, 263, 266, 268, 270, 283, 284, 289, 311, 312, 313, 347, 350, 353, 355, 356, 357, 359, 370, 376, 379, ...]
Index: []

[0 rows x 4447 columns]

In [ ]:
tf_idfs = data_fixed.values
tf_idfs

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.02367252, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.07009482]])

In [ ]:
print(np.any(np.isnan(tf_idfs)))
print(np.all(np.isfinite(tf_idfs)))
print(np.count_nonzero(np.isnan(tf_idfs)))
print(np.isnan(tf_idfs).sum())

False
True
0
0

In [ ]:
# Perform the necessary imports
from sklearn.decomposition import PCA
#from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

# Create scaler: scaler
#scaler = StandardScaler()

# Create a PCA instance: pca
pca = PCA()

# Create pipeline: pipeline
#pipeline = make_pipeline(pca)

# Fit the pipeline to 'samples'
pca.fit(tf_idfs)

# Plot the explained variances
features = range(pca.n_components_)
plt.figure(figsize=(10, 10))
plt.bar(features, pca.explained_variance_)
plt.xlabel('PCA feature')
plt.ylabel('variance')
plt.xticks(features)
plt.show()

ValueError: ignored

In [1]:
pca.explained_variance_[1:4500]

NameError: ignored

In [ ]:
tf_idfs

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.02367252, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.07009482]])

In [ ]:
from sklearn.decomposition import TruncatedSVD
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

svd = TruncatedSVD(n_components=4446)
kmeans = KMeans(n_clusters=5)
pipeline = make_pipeline(svd, kmeans)
pipeline.fit(tf_idfs)
labels = pipeline.predict(tf_idfs)

In [ ]:
titles = range(7499)

# Create a DataFrame aligning labels and titles: df
df = pd.DataFrame({'label': labels, 'article': titles})

# Display df sorted by cluster label
print(df.sort_values('label'))

      label  article
0         0        0
4635      0     4635
4634      0     4634
4633      0     4633
4632      0     4632
...     ...      ...
405       2      405
488       2      488
1233      3     1233
5225      4     5225
5221      4     5221

[7499 rows x 2 columns]

In [ ]:
df.sort_values('label')[0:2000]

      label  article
0         0        0
4635      0     4635
4634      0     4634
4633      0     4633
4632      0     4632
...     ...      ...
6191      0     6191
6190      0     6190
6189      0     6189
6188      0     6188
6187      0     6187

[2000 rows x 2 columns]

In [ ]:
df['true_label'] = 0

In [ ]:
df['true_label'][1500:3000] = 1
df['true_label'][3000:4500] = 2
df['true_label'][4500:6000] = 3
df['true_label'][6000:7499] = 4

In [ ]:
df

      label  article  true_label
0         0        0           0
1         0        1           0
2         0        2           0
3         0        3           0
4         0        4           0
...     ...      ...         ...
7494      0     7494           4
7495      0     7495           4
7496      0     7496           4
7497      0     7497           4
7498      0     7498           4

[7499 rows x 3 columns]

In [ ]:
crosstb = pd.crosstab(df['true_label'], df['label'])

In [ ]:
crosstb

label          0    1   2  3  4
true_label
0           1464    0  35  1  0
1           1500    0   0  0  0
2           1500    0   0  0  0
3           1498    0   0  0  2
4            947  552   0  0  0